@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  background: #040306;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .adminAlert {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 201;
  width: 300px;
  height: 34px;
  background: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  top: 10%;
  -webkit-animation: fade 2s ease;
          animation: fade 2s ease;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main .adminAlert .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

main .adminAlert .content::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: var(--alertWidth);
  height: 4px;
  background: var(--bgAlertColor);
  border-radius: 2px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dedede;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

main .overlay i {
  font-size: 60px;
}

main .overlay h3 {
  font-size: 16px;
  color: #616161;
}

main section {
  width: 95vw;
  min-height: 95vh;
}

main section .color {
  position: absolute;
  -webkit-filter: blur(80px);
          filter: blur(80px);
}

main section .color:nth-child(1) {
  top: 0;
  left: 50px;
  width: 100px;
  height: 100px;
  background: #34ac9e;
}

main section .color:nth-child(2) {
  bottom: 40px;
  right: 80px;
  width: 100px;
  height: 100px;
  background: #cf4f21;
}

main section .container {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  min-width: 95vw;
  position: relative;
  min-height: 95vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #34ac9e;
  overflow: hidden;
}

main section .container .leftsideBar {
  min-width: 100px;
  height: 95vh;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #ffffff17;
}

main section .container .leftsideBar ul {
  margin-top: 40px;
}

main section .container .leftsideBar ul li {
  margin: 25px 0;
  padding: 20px 0px;
}

main section .container .leftsideBar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .leftsideBar ul li a i {
  color: #cdcbd0;
  font-size: 30px;
}

main section .container .leftsideBar ul li a .tooltip {
  background: #b4bac3;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #1a1a1a;
          box-shadow: 0 10px 10px #1a1a1a;
  color: #30323e;
  top: 12%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section .container .leftsideBar ul li a .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #b4bac3;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

main section .container .leftsideBar ul li a .tooltip_course {
  background: #b4bac3;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #1a1a1a;
          box-shadow: 0 10px 10px #1a1a1a;
  color: #30323e;
  top: 25%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section .container .leftsideBar ul li a .tooltip_course::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #b4bac3;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

main section .container .leftsideBar ul li a .tooltip_concept {
  background: #b4bac3;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #1a1a1a;
          box-shadow: 0 10px 10px #1a1a1a;
  color: #30323e;
  top: 38%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section .container .leftsideBar ul li a .tooltip_concept::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #b4bac3;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

main section .container .leftsideBar ul li a .tooltip_trainers {
  background: #b4bac3;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #1a1a1a;
          box-shadow: 0 10px 10px #1a1a1a;
  color: #30323e;
  top: 50%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section .container .leftsideBar ul li a .tooltip_trainers::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #b4bac3;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

main section .container .leftsideBar ul li a .tooltip_users {
  background: #b4bac3;
  font-size: 0.7rem;
  padding: 2px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #1a1a1a;
          box-shadow: 0 10px 10px #1a1a1a;
  color: #30323e;
  top: 65%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section .container .leftsideBar ul li a .tooltip_users::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #b4bac3;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

main section .container .leftsideBar ul li a:hover i {
  color: #34ac9e;
}

main section .container .leftsideBar ul li a:hover .tooltip {
  top: 6%;
  opacity: 1;
  pointer-events: auto;
}

main section .container .leftsideBar ul li a:hover .tooltip_course {
  top: 20%;
  opacity: 1;
  pointer-events: auto;
}

main section .container .leftsideBar ul li a:hover .tooltip_concept {
  top: 32%;
  opacity: 1;
  pointer-events: auto;
}

main section .container .leftsideBar ul li a:hover .tooltip_trainers {
  top: 45%;
  opacity: 1;
  pointer-events: auto;
}

main section .container .leftsideBar ul li a:hover .tooltip_users {
  top: 60%;
  opacity: 1;
  pointer-events: auto;
}

main section .container .leftsideBar ul li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar {
  height: 95vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .rightsideBar .main {
  position: relative;
  width: 72%;
  height: 100%;
}

main section .container .rightsideBar .main .topSection {
  width: 100%;
  position: relative;
  height: calc(100% - 92%);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  color: #cdcbd0;
}

main section .container .rightsideBar .main .topSection a {
  color: #cdcbd0;
}

main section .container .rightsideBar .main .topSection .logo {
  cursor: pointer;
}

main section .container .rightsideBar .main .topSection .logo h2 {
  font-size: 18px;
}

main section .container .rightsideBar .main .topSection .logo h2 span {
  font-size: 22px;
  background: linear-gradient(45deg, #40c5e6, #00ffff, #34ac9e, #31d8ae, #30e180, #00fd94);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar .main .topSection p {
  color: #c3c3c363;
  font-size: 12px;
}

main section .container .rightsideBar .main .middlecontainer {
  width: 100%;
  position: relative;
  height: calc(100% - 8%);
  padding: 0 20px;
}

main section .container .rightsideBar .main .middlecontainer .middleSection {
  width: 100%;
  position: relative;
  height: calc(100% - 20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card {
  position: relative;
  cursor: pointer;
  width: 275px;
  height: 200px;
  background: #101013;
  border-radius: 40px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .top i {
  color: #cdcbd0;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .top .svgContainer {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .top .svgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cdcbd0;
  padding: 10px;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .middle p:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .middle p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .lower {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .lower .progress {
  width: 100%;
  height: 5px;
  background: antiquewhite;
  border-radius: 5px;
  position: relative;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card .lower .progress::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 5px;
  width: 50%;
  background: #00ff4c;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer {
  position: absolute;
  width: 150px;
  height: 60px;
  background: #484652;
  border-radius: 5px;
  right: 16%;
  top: 25%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer ul {
  text-align: center;
  width: 100%;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer ul li {
  color: #fff;
  padding: 2px 5px;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer ul li:hover {
  background: #31323e;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .firstCard .card-menucontainer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main section .container .rightsideBar .main .middlecontainer .middleSection .secondCard {
  width: 100%;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .container .rightsideBar .main .middlecontainer .middleSection .secondCard .card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 80%;
  background: #101013;
  border-radius: 40px;
  -webkit-box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .main .middlecontainer .middleSection .secondCard .card::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 100px;
  background: linear-gradient(18deg, #2b1045, #aa2efe);
  bottom: -7%;
  border-radius: 30px;
  left: 13%;
  z-index: -1;
  -webkit-box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .main .middlecontainer .bottomSection {
  width: 100%;
  position: relative;
  height: calc(100% - 80%);
}

main section .container .rightsideBar .main .middlecontainer .bottomSection p {
  color: #c3c3c363;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 20px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60%;
  margin-top: 10px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card {
  cursor: pointer;
  width: 48%;
  height: 100%;
  background: #101013;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .textContainer {
  text-align: center;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .textContainer p {
  font-size: 14px;
  color: #cdcbd0;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .textContainer p:nth-child(2) {
  font-size: 10px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .imgContainer {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .imgContainer .imgBox {
  width: 40px;
  height: 40px;
  background: antiquewhite;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #cdcbd0;
  -webkit-box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.8);
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .imgContainer .imgBox:nth-child(2) {
  margin-left: -8px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .imgContainer .imgBox:nth-child(3) {
  margin-left: -8px;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card .imgContainer .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .container .rightsideBar .main .middlecontainer .bottomSection .mainCard .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection {
  width: 100%;
  height: calc(100% - 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cdcbd0;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .inputBox {
  height: 100%;
  width: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .inputBox input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #cdcbd033;
  color: #cdcbd0;
  font-size: 16px;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .inputBox input:focus {
  border-bottom: 1px solid #cdcbd0;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .inputBox i {
  position: absolute;
  right: 10%;
  font-size: 25px;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection a {
  background: #cddbd026;
  padding: 7px 20px;
  border-radius: 8px;
  color: #989898;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection a:hover {
  background: #cddbd04f;
  color: #d0cfcf;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump i {
  font-size: 20px;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump h4 {
  position: relative;
  color: #878788;
  cursor: pointer;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump h4:nth-child(1) {
  color: #d0cfcf;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump h4::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00ff9552;
  border-radius: 5px;
}

main section .container .rightsideBar .main .middlecontainer .courseTopSection .breadCrump h4:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection {
  width: 100%;
  height: calc(100% - 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: auto;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection::-webkit-scrollbar-track {
  background: #d0cfcf;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection::-webkit-scrollbar-thumb {
  background: #0000008a;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card {
  width: 180px;
  height: 220px;
  background: #0000008a;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .topcardSection {
  width: 100%;
  height: calc(100% - 20%);
  position: relative;
  margin: 0;
  padding: 0;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .topcardSection .contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  background: rgba(0, 0, 0, 0.68);
  padding: 7px 5px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .topcardSection .contentBox h3 {
  font-size: 12px;
  color: #d0cfcf;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .topcardSection .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .topcardSection .imgBox img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .bottomCardSection {
  width: 100%;
  height: calc(100% - 80%);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #d0cfcf;
  position: relative;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .bottomCardSection .countText {
  position: absolute;
  top: 0;
  padding: 0 5px;
  font-size: 15px;
  width: 100%;
  color: #afafaf;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .bottomCardSection .countText span {
  float: right;
  font-weight: 700;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .card .bottomCardSection .addedDate {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 9px;
  color: grey;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection {
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection form {
  width: 100%;
  height: 100%;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-size: 1rem;
  color: #d0cfcf;
  font-weight: 300;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  display: inline-block;
  color: #d0cfcf;
  font-weight: 300;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox i {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 10px;
  display: inline-block;
  font-size: 1.2rem;
  color: #d0cfcf;
  cursor: pointer;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #34ac9e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:focus ~ span,
main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:valid ~ span {
  color: #34ac9e;
  font-size: 0.8rem;
  -webkit-transform: translateX(-12px) translateY(-32px);
          transform: translateX(-12px) translateY(-32px);
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:focus ~ i,
main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:valid ~ i,
main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:focus ~ .iconContainer i,
main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input:valid ~ .iconContainer i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #34ac9e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input[type="submit"] {
  background: #34ac9e;
  font-size: 1.2rem;
  color: var(--text);
  cursor: pointer;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .inputBox input[type="submit"]:hover {
  background: #34ac8e;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .trainerNameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .trainerNameSection .inputBox#trainerId input {
  border: 1px solid var(--border_color);
  color: var(--text_color, #d0cfcf);
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .trainer_contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer {
  position: relative;
  width: 100%;
  height: 58%;
  margin-bottom: 20px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .saveAction {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000000b8;
  height: 30px;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  padding-right: 10px;
  cursor: pointer;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .saveAction i {
  font-size: 30px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .saveAction i:nth-child(1) {
  color: red;
  margin-right: 20px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .saveAction i:nth-child(2) {
  color: green;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px dashed #cccccc1a;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx.active {
  border: 2px solid #cccccc1a;
  background: #ffffff26;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx .icon {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d0cfcf;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx .icon i {
  font-size: 50px;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx header {
  font-size: 20px;
  font-weight: 300;
  color: #d0cfcf;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx span {
  color: #d0cfcf;
  font-size: 15px;
  margin: 10px 0px 15px 0;
}

main section .container .rightsideBar .main .middlecontainer .courseMainSection .addFormContainer .formSection .fileContainer .imgBx a {
  padding: 5px 10px;
  outline: none;
  border: none;
  color: #10524b;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  background: #d0cfcf;
}

main section .container .rightsideBar .sideBar {
  position: relative;
  width: 28%;
  height: 100%;
  position: relative;
}

main section .container .rightsideBar .sideBar .userMenu {
  width: 100%;
  height: calc(100% - 90%);
}

main section .container .rightsideBar .sideBar .userMenu .menuContainer {
  float: right;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  cursor: pointer;
}

main section .container .rightsideBar .sideBar .userMenu .menuContainer .imgBx {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

main section .container .rightsideBar .sideBar .userMenu .menuContainer .imgBx img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .container .rightsideBar .sideBar .userMenu .menuContainer i {
  color: #cdcbd0;
  font-size: 25px;
}

main section .container .rightsideBar .sideBar .userMenu .menuContainer i:hover {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu {
  display: none;
  width: 200px;
  height: 100px;
  background: #101013;
  position: absolute;
  top: 10%;
  left: 35%;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  padding: 10px 0;
  z-index: 10;
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu ul li {
  padding: 10px;
  cursor: pointer;
  color: #cdcbd0;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu ul li:hover {
  background: #4848487a;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu .signout {
  background: #4848487a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  margin: 2px;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cdcbd0;
  cursor: pointer;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu .signout p {
  padding-right: 30px;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu .signout i {
  font-size: 25px;
}

main section .container .rightsideBar .sideBar .userMenu .userDropMenu .signout:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main section .container .rightsideBar .sideBar .userCard {
  width: 100%;
  height: calc(100% - 60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .rightsideBar .sideBar .userCard .box {
  position: relative;
  width: 75%;
  height: 90%;
  background: linear-gradient(-45deg, #2b1045, #aa2efe);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .sideBar .userCard .box .glowBox {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #bc34fe;
  top: 10%;
  left: 10%;
  -webkit-filter: blur(12px);
          filter: blur(12px);
}

main section .container .rightsideBar .sideBar .userCard .box .glowBox::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e863ad;
  top: 0%;
  left: 0%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

main section .container .rightsideBar .sideBar .userCard .box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

main section .container .rightsideBar .sideBar .userCard .box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

main section .container .rightsideBar .sideBar .userCard .box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

main section .container .rightsideBar .sideBar .userCard .box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #eb97ec4d;
}

main section .container .rightsideBar .sideBar .userCard .box .percent svg circle:nth-child(2) {
  stroke: #ffbc00;
}

main section .container .rightsideBar .sideBar .userCard .box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cdcbd0;
}

main section .container .rightsideBar .sideBar .userCard .box .percent .number h2 {
  font-size: 48px;
}

main section .container .rightsideBar .sideBar .userCard .box .percent .number h2 span {
  font-size: 24px;
}

main section .container .rightsideBar .sideBar .userCard .box .text {
  width: 100%;
  padding: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main section .container .rightsideBar .sideBar .userCard .box .text p {
  color: #cdcbd0;
  font-size: 12px;
}

main section .container .rightsideBar .sideBar .userCard .box .text span {
  color: #cdcbd0;
  font-size: 20px;
  font-weight: 700;
}

main section .container .rightsideBar .sideBar .userCard .box .text .left {
  text-align: center;
  font-size: 15px;
}

main section .container .rightsideBar .sideBar .userCard .box .text .right {
  text-align: center;
  font-size: 15px;
}

main section .container .rightsideBar .sideBar .userCard .box::before {
  position: absolute;
  content: "";
  width: 95%;
  height: 80%;
  border-radius: 25px;
  background: linear-gradient(-45deg, #234544, #1fa493);
  left: 11%;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  z-index: -2;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .sideBar .userCard .box::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 90%;
  border-radius: 25px;
  background: linear-gradient(-45deg, #ffbc00, #fecf65);
  left: 9%;
  top: 0;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  z-index: -2;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

main section .container .rightsideBar .sideBar .sectioncards {
  width: 100%;
  height: calc(100% - 50%);
  padding: 15px;
}

main section .container .rightsideBar .sideBar .sectioncards p {
  color: #cdcbd0;
}

main section .container .rightsideBar .sideBar .sectioncards .cards {
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card {
  width: 100%;
  height: 70px;
  background: #101013;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .imgBox {
  width: 35px;
  height: 35px;
  background: antiquewhite;
  border-radius: 50%;
  overflow: hidden;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .textContainer {
  text-align: left;
  color: #cdcbd0;
  width: 40%;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .textContainer h2 {
  font-size: 18px;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .textContainer p {
  font-size: 10px;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card i {
  color: #cdcbd0;
  font-size: 25px;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer {
  position: absolute;
  width: 150px;
  height: 60px;
  background: #484652;
  border-radius: 5px;
  right: 50px;
  top: 30px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-animation: fade 1s ease;
          animation: fade 1s ease;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer ul {
  text-align: center;
  width: 100%;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer ul li {
  color: #fff;
  padding: 2px 5px;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer ul li:hover {
  background: #31323e;
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card .menucontainer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main section .container .rightsideBar .sideBar .sectioncards .cards .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
/*# sourceMappingURL=admin.css.map */