:root {
  --primary-color: #fb839e;

  --background: #ffffff;
  --card: #ffffff;
  --shadow: rgb(187 187 187);
  --shadow-primary: 187, 187, 187;
  --text: #616161;
  --highligh: #c7c7c7;
  --white: #232323;
  --pre: #282c34;
}
