@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    --background: #323f4b;
    --card: #3e4c59;
    --shadow: #1f2933;
    --shadow-primary: 31, 41, 51;
    --text: #cbd2d9;
    --highligh: #52606d;
    --primary-color: #ef2a57;
    --white: #f5f7fa;
}

body {
    &.dark {
        --background: #f0f4f8;
        --card: #d9e2ec;
        --shadow: #bcccdc;
        --text: #334e68;
        --shadow-primary: 188, 204, 220;
        --highligh: #829ab1;
        --primary-color: #ef2a57;
        --white: #102a43;
    }
    background: var(--background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--card);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--highligh);
    }
}

.highlight {
    background: var(--highligh);
}

.container {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;

    .leftSide_container {
        width: 25%;
        max-width: 250px;
        min-width: 200px;
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        // box-shadow: 10px 15px 35px rgba(var(--dark-shadow-primary), $alpha: 0.2);
        // border-radius: 10px;

        .navigation {
            position: sticky;
            top: 20px;
            .logo_container {
                display: flex;
                justify-content: center;
                width: 100%;

                .logo {
                    width: 50px;
                    height: 50px;
                    background: var(--card);
                    border-radius: 50%;
                }
            }

            .home_menu_container {
                margin: 10px 0px;
                border-bottom: 1px solid var(--card);
                ul {
                    li {
                        padding: 10px 0;
                        color: var(--text);
                        font-size: 13px;
                        .link_container {
                            display: flex;
                            align-items: center;
                            transition: all 0.3s ease-in-out;
                            .icon_container {
                                width: 40px;
                                height: 40px;
                                background: var(--card);
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                i {
                                    font-size: 1.75rem;
                                    color: var(--text);
                                }
                            }

                            .link_text {
                                margin-left: 10px;
                                color: var(--text);
                                font-size: 1.2rem;
                            }

                            &:hover {
                                box-shadow: 0px 10px 25px var(--shadow);
                                border-radius: 10px;
                                padding: 5px;
                                .icon_container i {
                                    color: var(--white);
                                }
                                .link_text {
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }

            .courseList_container {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                a {
                    margin: 10px 0;
                }
                .link_container {
                    display: flex;
                    align-items: center;
                    transition: all 0.3s ease-in-out;
                    .icon_container {
                        width: 50px;
                        height: 40px;
                        background: var(--card);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        box-shadow: 0px 10px 25px var(--shadow);
                        transition: all 0.3s ease-in-out;
                        img {
                            width: 100%;
                            background-position: center;
                            background-size: cover;
                        }
                        i {
                            font-size: 1.75rem;
                            color: var(--text);
                        }
                    }

                    .link_text {
                        text-align: left;
                        margin-left: 10px;
                        color: var(--text);
                        font-size: 0.7rem;
                        width: 100%;
                        margin-right: 10px;
                    }

                    &:hover {
                        box-shadow: 0px 10px 25px var(--shadow);
                        border-radius: 10px;
                        padding: 5px;
                        .icon_container i {
                            color: var(--white);
                        }
                        .link_text {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;

        .searchWrapper {
            margin: 15px;
            margin-top: 20px;
            position: sticky;
            top: 0;
            z-index: 10;
            .searchInput {
                position: relative;
                width: 100%;
                background: var(--card);
                border-radius: 5px;
                box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);

                input {
                    height: 55px;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background: transparent;
                    padding: 0 60px 0 20px;
                    font-size: 1.2rem;
                    color: var(--text);
                    box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
                    background: var(--card);
                }
                .automCom_box {
                    max-height: 280px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    opacity: 0;
                    pointer-events: none;
                    &::-webkit-scrollbar {
                        width: 0.25rem;
                    }

                    &::-webkit-scrollbar-track {
                        background: var(--card);
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--highligh);
                    }
                    li {
                        list-style: none;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        width: 100%;
                        cursor: pointer;
                        border-radius: 3px;
                        color: var(--text);
                        display: none;
                        p {
                            margin: 0;
                            padding: 0;
                            margin-left: 10px;
                        }
                        &:hover {
                            background: var(--highligh);
                        }
                    }
                }

                &.active .automCom_box {
                    opacity: 1;
                    pointer-events: auto;
                    padding: 10px 8px;
                }

                &.active .automCom_box li {
                    display: block;
                }

                .search_icon {
                    height: 55px;
                    width: 55px;
                    line-height: 55px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    i {
                        transition: all 0.3s ease-in-out;
                        text-align: center;
                        font-size: 1.75rem;
                        color: var(--highligh);

                        &:hover {
                            color: var(--text);
                        }
                    }
                }
            }
        }

        .tittleWrapper {
            display: flex;
            justify-content: space-between;
            margin: 0px 15px;
            align-items: center;
            .tittleSection {
                font-size: 0.9rem;
                color: var(--text);
            }

            .titleImageSection {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                // display: flex;
                overflow: hidden;
                box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);

                img {
                    // height: 100%;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        .courseContainer {
            min-height: 500px;
            // background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 15px 15px;
            margin-top: 0;
            border: 1px solid var(--highligh);
            border-radius: 10px;
            box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
            overflow: hidden;
            background: var(--card);
            .courseTitleContainer {
                display: flex;
                margin: 10px 10px;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                .titleImageContainer {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    // display: flex;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .titleNameContainer {
                    color: var(--text);
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 0.9rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }

                .favoriteContainer {
                    margin-right: 15px;
                    span {
                        font-size: 2rem;
                        color: var(--text);
                        cursor: pointer;
                        &:hover {
                            color: #ff0000;
                            text-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
                        }
                    }
                }
            }
            .videoContainer {
                // background: red;
                height: 400px;
                margin: 10px;
                border-radius: 10px;
                overflow: hidden;
                margin-top: 0;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }

                i {
                    color: var(--text);
                    font-size: 5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    z-index: 1;
                    display: inline-block;
                    transform: translate(-50%, -50%);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
            .sourseCodeContaienr {
                // background: grey;
                height: 50px;
                .momentContainer {
                    font-size: 0.8rem;
                    color: var(--text);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 15px;
                    margin-bottom: 0;
                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .downloadButton {
                        border: 2px solid var(--highligh);
                        padding: 7px 10px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        color: var(--dark-sub-visuals);
                        box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
                        background: var(--card);

                        &:hover {
                            border: 2px solid var(--white);
                            box-shadow: 0px 10px 25px var(--shadow);
                            border-radius: 10px;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .rightSide_container {
        flex: 0.4;
        display: flex;
        // background: darkblue;
    }
}

.videoModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(var(--shadow-primary), $alpha: 0.5);

    .modalContent {
        position: relative;
        margin: 3% auto;
        padding: 10px;
        width: 80%;
        box-shadow: 0 5px 8px 0 rgba(var(--shadow-primary), $alpha: 0.5),
            0 7px 20px 0 rgba(var(--shadow-primary), $alpha: 0.12);
        border-radius: 10px;
        border: 1px solid var(--highligh);
        animation-name: modalOpen;
        animation-duration: 1s;

        @keyframes modalOpen {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .close {
            position: absolute;
            z-index: 1;
            top: -2%;
            right: -1%;
            height: 25px;
            width: 25px;
            background: var(--card);
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 4px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: var(--highligh);
            }

            .closeButton {
                color: var(--text);
                float: right;
                font-size: 2rem;
                margin-top: 2px;

                &:hover,
                :focus {
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
        .responsive_youtube {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

        .responsive_youtube iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            border-radius: 10px;
        }
    }
}
