@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  --background: #282b35;
  --card: #30323e;
  --shadow: #1a1a1a;
  --shadow-primary: 26, 26, 26;
  --text: #b4bac3;
  --highligh: #3d414b;
  --primary-color: #ef2a57;
  --white: #f5f7fa;
}

:root a {
  text-decoration: none;
}

:root ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.dark {
  --background: #f0f4f8;
  --card: #d9e2ec;
  --shadow: #bcccdc;
  --text: #334e68;
  --shadow-primary: 188, 204, 220;
  --highligh: #829ab1;
  --primary-color: #ef2a57;
  --white: #102a43;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--card);
}

body::-webkit-scrollbar-thumb {
  background: var(--highligh);
}

.highlight {
  background: var(--highligh);
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .leftSide_container {
  position: fixed;
  width: 20%;
  max-width: 250px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--card);
  -webkit-box-shadow: 0 10px 30px var(--shadow);
          box-shadow: 0 10px 30px var(--shadow);
  min-height: 100vh;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 0;
}

.container .leftSide_container .closeIcon {
  width: 50px;
  height: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 80%;
}

.container .leftSide_container .closeIcon i {
  font-size: 2rem;
  color: var(--text);
}

@media screen and (max-width: 700px) {
  .container .leftSide_container .closeIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .container .leftSide_container {
    min-width: 200px;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .container .leftSide_container {
    left: -100%;
    z-index: 1000;
    width: 300px;
  }
}

@media screen and (max-width: 520px) {
  .container .leftSide_container {
    left: -100%;
    z-index: 1000;
    width: 300px;
  }
}

.container .leftSide_container .navigation .logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .leftSide_container .navigation .logo_container .logo {
  width: 50px;
  height: 50px;
  background: var(--highligh);
  border-radius: 50%;
}

.container .leftSide_container .navigation .home_menu_container {
  margin: 10px 0px;
  border-bottom: 1px solid var(--highligh);
}

.container .leftSide_container .navigation .home_menu_container ul li {
  padding: 10px 0;
  color: var(--text);
  font-size: 13px;
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container .icon_container {
  width: 40px;
  height: 40px;
  background: var(--card);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container .icon_container i {
  font-size: 1.75rem;
  color: var(--text);
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container .link_text {
  margin-left: 10px;
  color: var(--text);
  font-size: 1.2rem;
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container:hover {
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  border-radius: 10px;
  padding: 5px;
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container:hover .icon_container i {
  color: var(--white);
}

.container .leftSide_container .navigation .home_menu_container ul li .link_container:hover .link_text {
  color: var(--white);
}

.container .leftSide_container .navigation .courseList_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.container .leftSide_container .navigation .courseList_container a {
  margin: 10px 0;
}

.container .leftSide_container .navigation .courseList_container .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .leftSide_container .navigation .courseList_container .link_container .icon_container {
  width: 50px;
  height: 40px;
  background: var(--card);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .leftSide_container .navigation .courseList_container .link_container .icon_container img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container .leftSide_container .navigation .courseList_container .link_container .icon_container i {
  font-size: 1.75rem;
  color: var(--text);
}

.container .leftSide_container .navigation .courseList_container .link_container .link_text {
  text-align: left;
  margin-left: 10px;
  color: var(--text);
  font-size: 0.7rem;
  width: 100%;
  margin-right: 10px;
}

.container .leftSide_container .navigation .courseList_container .link_container:hover {
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  border-radius: 10px;
  padding: 5px;
}

.container .leftSide_container .navigation .courseList_container .link_container:hover .icon_container i {
  color: var(--white);
}

.container .leftSide_container .navigation .courseList_container .link_container:hover .link_text {
  color: var(--white);
}

.container .main {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 19%;
}

@media screen and (max-width: 900px) {
  .container .main {
    width: 70%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 700px) {
  .container .main {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .container .main {
    width: 80%;
    margin-left: 10%;
  }
}

.container .main .searchWrapper {
  margin: 15px;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container .main .searchWrapper .searchInput {
  position: relative;
  width: 100%;
  background: var(--card);
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
          box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
}

.container .main .searchWrapper .searchInput input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: transparent;
  padding: 0 60px 0 20px;
  font-size: 1.2rem;
  color: var(--text);
  -webkit-box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
          box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
  background: var(--card);
}

.container .main .searchWrapper .searchInput .automCom_box {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
}

.container .main .searchWrapper .searchInput .automCom_box::-webkit-scrollbar {
  width: 0.25rem;
}

.container .main .searchWrapper .searchInput .automCom_box::-webkit-scrollbar-track {
  background: var(--card);
}

.container .main .searchWrapper .searchInput .automCom_box::-webkit-scrollbar-thumb {
  background: var(--highligh);
}

.container .main .searchWrapper .searchInput .automCom_box li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  color: var(--text);
  display: none;
}

.container .main .searchWrapper .searchInput .automCom_box li p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.container .main .searchWrapper .searchInput .automCom_box li:hover {
  background: var(--highligh);
}

.container .main .searchWrapper .searchInput.active .automCom_box {
  opacity: 1;
  pointer-events: auto;
  padding: 10px 8px;
}

.container .main .searchWrapper .searchInput.active .automCom_box li {
  display: block;
}

.container .main .searchWrapper .searchInput .search_icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .main .searchWrapper .searchInput .search_icon i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 1.75rem;
  color: var(--highligh);
}

.container .main .searchWrapper .searchInput .search_icon i:hover {
  color: var(--text);
}

.container .main .tittleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .tittleWrapper .tittleSection {
  font-size: 0.9rem;
  color: var(--text);
}

.container .main .tittleWrapper .titleImageSection {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
          box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
}

@media screen and (max-width: 520px) {
  .container .main .tittleWrapper .titleImageSection {
    width: 40px;
    height: 40px;
  }
}

.container .main .tittleWrapper .titleImageSection img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .courseContainer {
  background: var(--card);
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 15px;
  margin-top: 0;
  border: 1px solid var(--highligh);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .container .main .courseContainer {
    min-height: 400px;
  }
}

.container .main .courseContainer .courseTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.container .main .courseContainer .courseTitleContainer .titleImageContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .container .main .courseContainer .courseTitleContainer .titleImageContainer {
    width: 35px;
    height: 35px;
  }
}

.container .main .courseContainer .courseTitleContainer .titleImageContainer img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .courseContainer .courseTitleContainer .titleNameContainer {
  color: var(--text);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .main .courseContainer .courseTitleContainer .titleNameContainer p {
  margin: 0;
  padding: 0;
}

.container .main .courseContainer .courseTitleContainer .favoriteContainer {
  margin-right: 15px;
}

.container .main .courseContainer .courseTitleContainer .favoriteContainer span {
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
}

.container .main .courseContainer .courseTitleContainer .favoriteContainer span:hover {
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
}

.container .main .courseContainer .videoContainer {
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0;
  position: relative;
}

@media screen and (max-width: 520px) {
  .container .main .courseContainer .videoContainer {
    height: 250px;
  }
}

.container .main .courseContainer .videoContainer img {
  width: 100%;
  height: 100%;
}

.container .main .courseContainer .videoContainer i {
  color: var(--text);
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .main .courseContainer .videoContainer i:hover {
  color: var(--white);
}

.container .main .courseContainer .sourseCodeContaienr {
  height: 50px;
}

.container .main .courseContainer .sourseCodeContaienr .momentContainer {
  font-size: 0.8rem;
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  margin-bottom: 0;
}

.container .main .courseContainer .sourseCodeContaienr .momentContainer p {
  margin: 0;
  padding: 0;
}

.container .main .courseContainer .sourseCodeContaienr .momentContainer .downloadButton {
  border: 2px solid var(--highligh);
  padding: 7px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--dark-sub-visuals);
  -webkit-box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
          box-shadow: 0px 15px 35px rgba(var(--shadow-primary), 0.5);
  background: var(--card);
}

.container .main .courseContainer .sourseCodeContaienr .momentContainer .downloadButton:hover {
  border: 2px solid var(--white);
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  border-radius: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .rightSide_container {
  margin-left: 10px;
  width: 21%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--card);
  -webkit-box-shadow: 0 10px 30px var(--shadow);
          box-shadow: 0 10px 30px var(--shadow);
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
}

@media screen and (max-width: 900px) {
  .container .rightSide_container {
    width: 300px;
    z-index: 1000;
    right: -100%;
  }
}

.container .rightSide_container .closeIcon {
  width: 50px;
  height: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .rightSide_container .closeIcon i {
  font-size: 2rem;
  color: var(--text);
}

@media screen and (max-width: 900px) {
  .container .rightSide_container .closeIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container .rightSide_container .rightNav {
  margin-top: 20px;
  height: 100vh;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .container .rightSide_container .rightNav {
    margin-top: 0;
  }
}

.container .rightSide_container .rightNav .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .rightSide_container .rightNav .profileContainer .userImage {
  height: 50px;
  width: 50px;
  background: var(--card);
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
}

.container .rightSide_container .rightNav .profileContainer .userImage img {
  height: 100%;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.container .rightSide_container .rightNav .profileContainer .userName {
  color: var(--text);
  font-size: 1.2rem;
  text-transform: capitalize;
}

.container .rightSide_container .rightNav .profileContainer .userName:hover {
  color: var(--white);
}

.container .rightSide_container .rightNav .profileContainer .dropIcon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--text);
  font-size: 2rem;
  cursor: pointer;
}

.container .rightSide_container .rightNav .profileContainer .dropIcon:hover {
  color: var(--white);
}

.container .rightSide_container .rightNav .profileContainer .dropIcon #down {
  display: block;
}

.container .rightSide_container .rightNav .profileContainer .dropIcon #down.active {
  display: none;
}

.container .rightSide_container .rightNav .profileContainer .dropIcon #up {
  display: none;
}

.container .rightSide_container .rightNav .profileContainer .dropIcon #up.active {
  display: block;
}

.container .rightSide_container .rightNav .menuContaier {
  display: none;
  height: 175px;
  float: right;
  width: 230px;
  background: var(--card);
  margin: 17px 16% 0 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
  -webkit-animation-name: menuOpen;
          animation-name: menuOpen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  position: absolute;
  margin-top: 20%;
}

@-webkit-keyframes menuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menuOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .rightSide_container .rightNav .menuContaier.active {
  display: block;
}

.container .rightSide_container .rightNav .trainerCard {
  width: 85%;
  height: 250px;
  background: var(--card);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 25px var(--shadow);
          box-shadow: 0px 10px 25px var(--shadow);
}

@media screen and (max-width: 900px) {
  .container .rightSide_container .rightNav .trainerCard {
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .container .rightSide_container .rightNav .trainerCard {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .container .rightSide_container .rightNav .trainerCard {
    height: 200px;
  }
}

.container .rightSide_container .rightNav .trainerCard .imageBox {
  width: 80px;
  height: 80px;
  background: var(--background);
  border-radius: 50%;
  border: 3px solid var(--highligh);
}

.container .rightSide_container .rightNav .trainerCard .textBox {
  color: var(--text);
  font-size: 1.2rem;
}

.container .rightSide_container .rightNav .trainerCard .textBox h3 {
  margin: 0;
  padding: 0;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--text);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i:hover:nth-child(1) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998, 0 0 30px #3b5998, 0 0 40px #3b5998;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i:hover:nth-child(2) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #791f52, #e1306c, #fd1d1d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 15px #e1306c, 0 0 30px #e1306c, 0 0 40px #e1306c;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i:hover:nth-child(3) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #fafafa;
  text-shadow: 0 0 15px #fafafa, 0 0 30px #fafafa, 0 0 40px #fafafa;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i:hover:nth-child(4) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #0e76a8;
  text-shadow: 0 0 15px #0e76a8, 0 0 30px #0e76a8, 0 0 40px #0e76a8;
}

.container .rightSide_container .rightNav .trainerCard .socialBox i:hover:nth-child(5) {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #00acee;
  text-shadow: 0 0 15px #00acee, 0 0 30px #00acee, 0 0 40px #00acee;
}

.container .rightSide_container .rightNav .categoryCard {
  margin-bottom: 20%;
}

@media screen and (max-width: 900px) {
  .container .rightSide_container .rightNav .categoryCard {
    margin-bottom: 24%;
  }
}

@media screen and (max-width: 700px) {
  .container .rightSide_container .rightNav .categoryCard {
    margin-bottom: 24%;
  }
}

@media screen and (max-width: 500px) {
  .container .rightSide_container .rightNav .categoryCard {
    margin-bottom: 24%;
  }
}

.container .rightSide_container .rightNav .categoryCard .tariffCards {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards::after {
  position: absolute;
  bottom: -27px;
  left: 5%;
  content: "";
  width: 65%;
  height: 10px;
  border-radius: 100%;
  background-image: radial-gradient(rgba(34, 50, 84, 0.04), rgba(34, 50, 84, 0));
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div {
  position: relative;
  width: 240px;
  height: 125px;
  border-radius: 12px;
  color: #fff;
  -webkit-transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
          transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div::after {
  position: absolute;
  top: -70px;
  left: 0;
  content: "";
  width: 200%;
  height: 200%;
  background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div img {
  margin-top: 5px;
  pointer-events: none;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
  font-weight: 800;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div span {
  position: absolute;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div.economy {
  margin-top: 0;
  z-index: 3;
  background-color: #8063e1;
  background-image: linear-gradient(135deg, #bd7be8, #8063e1);
  -webkit-box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #8063e1;
          box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #8063e1;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div.premiumeconomy {
  margin-top: -70px;
  z-index: 2;
  background-color: #3f58e3;
  background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
  -webkit-box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #3f58e3;
          box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #3f58e3;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div.business {
  margin-top: -70px;
  z-index: 1;
  background-color: #2c6fd1;
  background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
  -webkit-box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #2c6fd1;
          box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #2c6fd1;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div.first {
  margin-top: -70px;
  background-color: #352f64;
  background-image: linear-gradient(135deg, #415197, #352f64);
  -webkit-box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0px 1px #352f64;
          box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0px 1px #352f64;
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div:hover {
  -webkit-transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
          transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}

.container .rightSide_container .rightNav .categoryCard .tariffCards div:hover::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.videoModal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(var(--shadow-primary), 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoModal .modalContent {
  position: relative;
  margin: 3% auto;
  padding: 10px;
  width: 80%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(var(--shadow-primary), 0.5), 0 7px 20px 0 rgba(var(--shadow-primary), 0.12);
          box-shadow: 0 5px 8px 0 rgba(var(--shadow-primary), 0.5), 0 7px 20px 0 rgba(var(--shadow-primary), 0.12);
  border-radius: 10px;
  border: 1px solid var(--highligh);
  -webkit-animation-name: modalOpen;
          animation-name: modalOpen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.videoModal .modalContent .close {
  position: absolute;
  z-index: 1;
  top: -2%;
  right: -1%;
  height: 25px;
  width: 25px;
  background: var(--card);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.videoModal .modalContent .close:hover {
  background: var(--highligh);
}

.videoModal .modalContent .close .closeButton {
  color: var(--text);
  float: right;
  font-size: 2rem;
  margin-top: 2px;
}

.videoModal .modalContent .close .closeButton:hover,
.videoModal .modalContent .close .closeButton :focus {
  color: var(--white);
  text-decoration: none;
}

.videoModal .modalContent .responsive_youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoModal .modalContent .responsive_youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
}

.menuIcon {
  top: 0;
  display: none;
  right: 0;
  margin-top: 3%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 15px 0px 0px;
  height: 50px;
  position: fixed;
}

@media screen and (max-width: 900px) {
  .menuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menuIcon i {
  color: var(--text);
  font-size: 2rem;
}

.menuIcon i:hover {
  color: var(--white);
}

.leftMenuIcon {
  position: fixed;
  margin: 0px 0px 30px 15px;
  left: 0;
  top: 0;
  display: none;
  margin-top: 4%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}

@media screen and (max-width: 900px) {
  .leftMenuIcon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .leftMenuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
  }
}

@media screen and (max-width: 500px) {
  .leftMenuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6%;
  }
}

.leftMenuIcon i {
  color: var(--text);
  font-size: 2rem;
}

.leftMenuIcon i:hover {
  color: var(--white);
}
/*# sourceMappingURL=styles.css.map */