@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
    box-sizing: border-box;
}
:root {
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    font-size: 16px;
    font-family: "Jost", sans-serif;
    --background: #282b35;
    --card: #30323e;
    --shadow: #1a1a1a;
    --shadow-primary: 26, 26, 26;
    --text: #b4bac3;
    --highligh: #3d414b;
    --primary-color: #ef2a57;
    --white: #f5f7fa;
}

body {
    &.dark {
        --background: #f0f4f8;
        --card: #d9e2ec;
        --shadow: #bcccdc;
        --text: #334e68;
        --shadow-primary: 188, 204, 220;
        --highligh: #829ab1;
        --primary-color: #ef2a57;
        --white: #102a43;
    }
    background: var(--background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--card);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--highligh);
    }
}

.highlight {
    background: var(--highligh);
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;

    .leftSide_container {
        position: fixed;
        width: 20%;
        max-width: 275px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        background: var(--card);
        box-shadow: 0 10px 30px var(--shadow);
        min-height: 100vh;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        left: 0;

        .closeIcon {
            width: 50px;
            height: 50px;
            display: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-left: 80%;
            i {
                font-size: 2rem;
                color: var(--text);
            }

            @media screen and (max-width: 700px) {
                display: flex;
            }
        }

        @media screen and (max-width: 900px) {
            min-width: 225px;
            left: 0;
        }

        @media screen and (max-width: 700px) {
            left: -100%;
            z-index: 1000;
            width: 300px;
        }

        @media screen and (max-width: 520px) {
            left: -100%;
            z-index: 1000;
            width: 300px;
        }

        .navigation {
            // // position: fixed;
            // top: 20px;
            // height: 100%;
            // max-width: 250px;
            // min-width: 200px;
            .logo_container {
                display: flex;
                justify-content: center;
                width: 100%;

                .logo {
                    width: 50px;
                    height: 50px;
                    background: var(--highligh);
                    border-radius: 50%;
                }
            }

            .home_menu_container {
                margin: 10px 0px;
                border-bottom: 1px solid var(--highligh);
                ul {
                    li {
                        padding: 10px 0;
                        color: var(--text);
                        font-size: 13px;
                        .link_container {
                            display: flex;
                            align-items: center;
                            transition: all 0.3s ease-in-out;
                            .icon_container {
                                width: 40px;
                                height: 40px;
                                background: var(--card);
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                i {
                                    font-size: 1.75rem;
                                    color: var(--text);
                                }
                            }

                            .link_text {
                                margin-left: 10px;
                                color: var(--text);
                                font-size: 1.2rem;
                            }

                            &:hover {
                                box-shadow: 0px 10px 25px var(--shadow);
                                border-radius: 10px;
                                padding: 5px;
                                .icon_container i {
                                    color: var(--white);
                                }
                                .link_text {
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }

            .courseList_container {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                a {
                    margin: 10px 0;
                }
                .link_container {
                    display: flex;
                    align-items: center;
                    transition: all 0.3s ease-in-out;
                    .icon_container {
                        width: 50px;
                        height: 40px;
                        background: var(--card);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        box-shadow: 0px 10px 25px var(--shadow);
                        transition: all 0.3s ease-in-out;
                        img {
                            width: 100%;
                            background-position: center;
                            background-size: cover;
                        }
                        i {
                            font-size: 1.75rem;
                            color: var(--text);
                        }
                    }

                    .link_text {
                        text-align: left;
                        margin-left: 10px;
                        color: var(--text);
                        font-size: 0.9rem;
                        width: 100%;
                        margin-right: 10px;
                    }

                    &:hover {
                        box-shadow: 0px 10px 25px var(--shadow);
                        border-radius: 10px;
                        padding: 5px;
                        .icon_container i {
                            color: var(--white);
                        }
                        .link_text {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 19%;

        @media screen and (max-width: 900px) {
            width: 70%;
            margin-left: 25%;
        }

        @media screen and (max-width: 700px) {
            margin-left: 10%;
            margin-right: 10%;
            width: 100%;
        }

        @media screen and (max-width: 520px) {
            width: 80%;
            margin-left: 10%;
        }

        .searchWrapper {
            margin: 15px;
            margin-top: 20px;
            position: sticky;
            top: 0;
            z-index: 10;
            .searchInput {
                position: relative;
                width: 100%;
                background: var(--card);
                border-radius: 5px;
                box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);

                input {
                    height: 55px;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background: transparent;
                    padding: 0 60px 0 20px;
                    font-size: 1.2rem;
                    color: var(--text);
                    box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
                    background: var(--card);
                }
                .automCom_box {
                    max-height: 280px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    opacity: 0;
                    pointer-events: none;
                    &::-webkit-scrollbar {
                        width: 0.25rem;
                    }

                    &::-webkit-scrollbar-track {
                        background: var(--card);
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--highligh);
                    }
                    li {
                        list-style: none;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        width: 100%;
                        cursor: pointer;
                        border-radius: 3px;
                        color: var(--text);
                        display: none;
                        p {
                            margin: 0;
                            padding: 0;
                            margin-left: 10px;
                        }
                        &:hover {
                            background: var(--highligh);
                        }
                    }
                }

                &.active .automCom_box {
                    opacity: 1;
                    pointer-events: auto;
                    padding: 10px 8px;
                }

                &.active .automCom_box li {
                    display: block;
                }

                .search_icon {
                    height: 55px;
                    width: 55px;
                    line-height: 55px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    i {
                        transition: all 0.3s ease-in-out;
                        text-align: center;
                        font-size: 1.75rem;
                        color: var(--highligh);

                        &:hover {
                            color: var(--text);
                        }
                    }
                }
            }
        }

        .tittleWrapper {
            display: flex;
            justify-content: space-between;
            margin: 0px 15px;
            align-items: center;
            .tittleSection {
                font-size: 0.9rem;
                color: var(--text);
            }

            .titleImageSection {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                // display: flex;
                overflow: hidden;
                box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
                @media screen and (max-width: 520px) {
                    width: 40px;
                    height: 40px;
                }
                img {
                    // height: 100%;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        .courseContainer {
            background: var(--card);
            min-height: 500px;
            // background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 15px 15px;
            margin-top: 0;
            border: 1px solid var(--highligh);
            border-radius: 10px;
            box-shadow: 0px 10px 25px var(--shadow);
            overflow: hidden;
            // background: var(--card);
            @media screen and (max-width: 520px) {
                min-height: 400px;
            }
            .courseTitleContainer {
                display: flex;
                margin: 10px 10px;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                .titleImageContainer {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    // display: flex;
                    overflow: hidden;
                    @media screen and (max-width: 520px) {
                        width: 35px;
                        height: 35px;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .titleNameContainer {
                    color: var(--text);
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 0.9rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }

                .favoriteContainer {
                    margin-right: 15px;
                    span {
                        font-size: 2rem;
                        color: var(--text);
                        cursor: pointer;
                        &:hover {
                            color: #ff0000;
                            text-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
                        }
                    }
                }
            }
            .videoContainer {
                // background: red;
                height: 400px;
                margin: 10px;
                border-radius: 10px;
                overflow: hidden;
                margin-top: 0;
                position: relative;
                @media screen and (max-width: 520px) {
                    height: 250px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }

                i {
                    color: var(--text);
                    font-size: 5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    z-index: 1;
                    display: inline-block;
                    transform: translate(-50%, -50%);

                    &:hover {
                        color: var(--white);
                    }
                }
            }
            .sourseCodeContaienr {
                // background: grey;
                height: 50px;
                .momentContainer {
                    font-size: 0.8rem;
                    color: var(--text);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 15px;
                    margin-bottom: 0;
                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .downloadButton {
                        border: 2px solid var(--highligh);
                        padding: 7px 10px;
                        border-radius: 10px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        color: var(--dark-sub-visuals);
                        box-shadow: 0px 15px 35px rgba(var(--shadow-primary), $alpha: 0.5);
                        background: var(--card);

                        &:hover {
                            border: 2px solid var(--white);
                            box-shadow: 0px 10px 25px var(--shadow);
                            border-radius: 10px;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .rightSide_container {
        margin-left: 10px;
        width: 21%;
        min-width: 150px;
        display: flex;
        background: var(--card);
        box-shadow: 0 10px 30px var(--shadow);
        min-height: 100vh;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
        position: fixed;
        right: 0;

        @media screen and (max-width: 900px) {
            width: 300px;
            z-index: 1000;
            right: -100%;
        }

        .closeIcon {
            width: 50px;
            height: 50px;
            display: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i {
                font-size: 2rem;
                color: var(--text);
            }

            @media screen and (max-width: 900px) {
                display: flex;
            }
        }
        .rightNav {
            margin-top: 20px;
            height: 100vh;
            width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            @media screen and (max-width: 900px) {
                margin-top: 0;
            }
            .profileContainer {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                .userImage {
                    height: 50px;
                    width: 50px;
                    background: var(--card);
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0px 10px 25px var(--shadow);

                    img {
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        width: 100%;
                    }
                }

                .userName {
                    color: var(--text);
                    font-size: 1.2rem;
                    text-transform: capitalize;

                    &:hover {
                        color: var(--white);
                    }
                }

                .dropIcon {
                    transition: all 0.3s ease-in-out;
                    color: var(--text);
                    font-size: 2rem;
                    cursor: pointer;

                    &:hover {
                        color: var(--white);
                    }
                    #down {
                        display: block;

                        &.active {
                            display: none;
                        }
                    }

                    #up {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }
            .menuContaier {
                display: none;
                height: 175px;
                float: right;
                width: 230px;
                background: var(--card);
                margin: 17px 16% 0 0px;
                border-radius: 5px;
                box-shadow: 0px 10px 25px var(--shadow);
                animation-name: menuOpen;
                animation-duration: 0.5s;
                position: absolute;
                margin-top: 20%;

                @keyframes menuOpen {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }

                &.active {
                    display: block;
                }
            }

            .trainerCard {
                width: 85%;
                height: 250px;
                background: var(--card);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                box-shadow: 0px 10px 25px var(--shadow);

                @media screen and (max-width: 900px) {
                    height: 200px;
                }

                @media screen and (max-width: 700px) {
                    height: 200px;
                }

                @media screen and (max-width: 500px) {
                    height: 200px;
                }

                .imageBox {
                    width: 80px;
                    height: 80px;
                    background: var(--background);
                    border-radius: 50%;
                    border: 3px solid var(--highligh);
                }

                .textBox {
                    color: var(--text);
                    font-size: 1.2rem;

                    h3 {
                        margin: 0;
                        padding: 0;
                    }
                }
                .socialBox i {
                    margin: 0 10px;
                    font-size: 1.5rem;
                    color: var(--text);
                    transition: all 0.3s ease-in-out;

                    &:hover:nth-child(1) {
                        transform: scale(1.5);
                        color: #3b5998;
                        text-shadow: 0 0 15px #3b5998, 0 0 30px #3b5998, 0 0 40px #3b5998;
                    }
                    &:hover:nth-child(2) {
                        transform: scale(1.5);
                        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #791f52, #e1306c, #fd1d1d);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        background-clip: text;
                        text-shadow: 0 0 15px #e1306c, 0 0 30px #e1306c, 0 0 40px #e1306c;
                    }
                    &:hover:nth-child(3) {
                        transform: scale(1.5);
                        color: #fafafa;
                        text-shadow: 0 0 15px #fafafa, 0 0 30px #fafafa, 0 0 40px #fafafa;
                    }
                    &:hover:nth-child(4) {
                        transform: scale(1.5);
                        color: #0e76a8;
                        text-shadow: 0 0 15px #0e76a8, 0 0 30px #0e76a8, 0 0 40px #0e76a8;
                    }
                    &:hover:nth-child(5) {
                        transform: scale(1.5);
                        color: #00acee;
                        text-shadow: 0 0 15px #00acee, 0 0 30px #00acee, 0 0 40px #00acee;
                    }
                }
            }

            .categoryCard {
                margin-left: 30px;
                margin-bottom: 50px;
                width: 90%;
                padding: 0 20px 0 30px;
                margin-right: 15px;
                @media screen and (max-width: 700px) {
                    margin-bottom: 75px;
                }

                @media screen and (max-width: 550px) {
                    margin-bottom: 75px;
                }

                .cardContainer {
                    cursor: pointer;
                    background: var(--card);
                    padding: 0px 5px;
                    border: 1px solid var(--highligh);
                    position: relative;
                    height: 60px;
                    margin-bottom: 15px;
                    border-radius: 2px 12px 2px 12px;
                    transition: all 0.3s ease-in-out;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &::before {
                        content: "";
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: var(--shadow);
                        border: 3px solid var(--highligh);
                        position: absolute;
                        left: -40px;
                        top: 20px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        box-shadow: 0px 5px 20px var(--shadow);
                        &::before {
                            background: var(--primary-color);
                        }
                    }

                    .imageBox {
                        width: 35px;
                        height: 35px;
                        background: var(--card);
                        border-radius: 50%;
                        border: 1px solid var(--highligh);
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .textBox {
                        color: var(--text);
                        width: 81%;

                        h3 {
                            margin: 0;
                            padding: 0;
                            font-size: 1.2rem;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.codeModal {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(var(--shadow-primary), $alpha: 0.5);
    align-items: center;

    .codemodalContent {
        position: relative;
        margin: 3% auto;
        padding: 10px;
        width: 80%;
        height: 80%;
        box-shadow: 0 5px 8px 0 rgba(var(--shadow-primary), $alpha: 0.5),
            0 7px 20px 0 rgba(var(--shadow-primary), $alpha: 0.12);
        border-radius: 10px;
        border: 1px solid var(--highligh);
        animation-name: codemodalOpen;
        animation-duration: 1s;

        @keyframes codemodalOpen {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .modalcloseBtn {
        position: absolute;
        z-index: 1;
        top: -2%;
        right: -1%;
        height: 25px;
        width: 25px;
        background: var(--card);
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: var(--highligh);
        }

        .closeButton {
            color: var(--text);
            float: right;
            font-size: 1.5rem;
            margin-top: -6px;

            &:hover,
            :focus {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    .mainCodeModalContent {
        background: var(--highligh);
        border-radius: 10px;
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0.25rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background: var(--card);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--text);
        }

        ul {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;

            li {
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--text);
                cursor: pointer;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -25%;
                    left: -50%;
                    width: 0%;
                    height: 5px;
                    background: var(--primary-color);
                    border-radius: 30px;
                }

                &.active::after {
                    width: 200%;
                }
            }
        }

        .codeContainer {
            .codecontent {
                border: 1px solid var(--text);
                border-radius: 5px;
                position: relative;
                .clipboard {
                    position: absolute;
                    right: 0;
                    padding: 10px;
                    cursor: pointer;
                    i {
                        color: var(--text);
                        font-size: 1.5rem;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: var(--white);
                        }
                    }
                }

                .codeText {
                    padding: 20px;
                }
            }
        }
    }
}

.videoModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(var(--shadow-primary), $alpha: 0.5);
    align-items: center;

    .modalContent {
        position: relative;
        margin: 3% auto;
        padding: 10px;
        width: 80%;
        box-shadow: 0 5px 8px 0 rgba(var(--shadow-primary), $alpha: 0.5),
            0 7px 20px 0 rgba(var(--shadow-primary), $alpha: 0.12);
        border-radius: 10px;
        border: 1px solid var(--highligh);
        animation-name: modalOpen;
        animation-duration: 1s;

        @media screen and (max-width: 550px) {
            margin: 0;
            width: 100%;
            transform: rotate(90deg);
        }

        @keyframes modalOpen {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .close {
            position: absolute;
            z-index: 1;
            top: -2%;
            right: -1%;
            height: 25px;
            width: 25px;
            background: var(--card);
            justify-content: center;
            display: flex;
            align-items: center;
            padding: 4px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: var(--highligh);
            }

            .closeButton {
                color: var(--text);
                float: right;
                font-size: 2rem;
                margin-top: 2px;

                &:hover,
                :focus {
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
        .responsive_youtube {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

        .responsive_youtube iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            border-radius: 10px;
        }
    }
}
.menuIcon {
    top: 0;
    display: none;
    right: 0;
    margin-top: 3%;
    justify-content: flex-end;
    margin: 30px 15px 0px 0px;
    height: 50px;
    position: fixed;
    @media screen and (max-width: 900px) {
        display: flex;
    }

    i {
        color: var(--text);
        font-size: 2rem;

        &:hover {
            color: var(--white);
        }
    }
}

.leftMenuIcon {
    position: fixed;
    margin: 0px 0px 30px 15px;
    left: 0;
    top: 0;
    display: none;
    margin-top: 4%;
    justify-content: flex-end;
    height: 50px;
    @media screen and (max-width: 900px) {
        display: none;
    }

    @media screen and (max-width: 700px) {
        display: flex;
        margin-top: 5%;
    }

    @media screen and (max-width: 500px) {
        display: flex;
        margin-top: 6%;
    }

    i {
        color: var(--text);
        font-size: 2rem;

        &:hover {
            color: var(--white);
        }
    }
}
